/*Html element==============================================================================================================================*/
body {
  font-family: arial;
  font-size: 14px;
  background-color: tomato;
}

@media (max-width: 600px) { /*smaller than phone*/
  #ProductId {
    flex-direction: column;
  }

  #ProductDescriptionId {
    width: 100%;
  }

  #ProductImageId {
    width: 100%;
  }

  #ProductCard {
    height: 100px;
  }
}

@media (min-width: 600px) { /*Phone*/
  #ProductId {
    flex-direction: column;
  }

  #ProductDescriptionId {
    width: 100%;
  }

  #ProductImageId {
    width: 100%;
  }

  #ProductCard {
    height: 100px;
  }
}

@media (min-width: 768px) { /*Tablet*/
  #ProductId {
    flex-direction: column;
  }

  #ProductDescriptionId {
    width: 100%;
  }

  #ProductImageId {
    width: 100%;
  }

  #ProductCard {
    height: 200px;
  }
}

@media (min-width: 992px) { /*laptop or bigger*/
  #ProductId {
    flex-direction: row;
  }

  #ProductDescriptionId {
    width: 67%;
  }

  #ProductImageId {
    width: 33%;
  }

  #ProductCard {
    height: 300px;
  }
}




/*Id==============================================================================================================================*/
#BodyId {
  background-color: tomato;
}

#ContentBoxId {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: beige;
  border-style: solid;
  border-width: 2px;
  border-color: maroon;
  border-radius: 1em;
  overflow: hidden;
  width: 75%;
}

#TitleId {
  color: maroon;
}

#ProductId {
  padding: 5px;
}

#ProductDescriptionId {
  color: black;
}

#ProductImageId {
  margin-top: 10px;
  margin-bottom: 10px;
}

#ProductImageId img {
  width: 100%;
  height: auto;
}

#ProductCardId {
  height: max-content;
  border-style: dashed;
  border-color: tomato;
  border-width: 2px;
  height: auto;
  padding: 10px;
  margin: 20px;
  padding-top: 0px;
}

#ProductCardTitleId {
  translate: -5px -10px;
  background-color: beige;
  width: 50px;
}

#ProductCardTitleId p {
  margin: 0;
  text-align: center;
  color: maroon;
  padding: 0;
}

#ProductCardContent {
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: column;
}

#ProductCard {
  margin: 5px;
  width:max-content;
}

#ProductCard img {
  width: auto;
  height:100%;
}

#DownloadSectionId {
  max-width: 500px;
  min-width: 300px;
  width: 75%;
}

#SteamButton {
  border-color: maroon;
  border-radius: 0.2em;
  background-color: tomato;
  color: maroon;
}
#SteamButton:hover {
  background-color: maroon;
  color: beige;
}

#DirectDownloadButton {
  border-color: maroon;
  border-radius: 0.2em;
  background-color: tomato;
  color: maroon;
}

#DirectDownloadButton:hover {
  background-color: maroon;
  color: beige;
}

#PurchaseButton {
  border-color: maroon;
  border-radius: 0.2em;
  background-color: tomato;
  color: maroon;
}

#PurchaseButton:hover {
  background-color: maroon;
  color: beige;
}

#FooterId {
  position: absolute;
  left: 0;
  right: 0;
  height: 200px;
  background-color: maroon;
  color: beige;
  padding: 10px;
}

#ContactButtonId {
  border-radius: 0.2em;
  border-width: 3px;
  border-color: tomato;
  background-color: maroon;
  color: beige;
}

#ContactButtonId:hover {
  border-color: tomato;
  background-color: tomato;
  color: maroon;
}

#InfoHolderId {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.3);
}

#InfoId {
  margin: auto;
  width: 400px;
  height: auto;
}

#InfoCloseButtonId {
  border-radius: 0.3em;
  border-width: 3px;
  border-color: rgb(221, 36, 36);
  background-color: rgb(221, 36, 36);
  color: rgb(223, 212, 212);
}

#InfoCloseButtonId:hover {
  border-color: rgb(221, 36, 36);
  background-color: rgb(215, 103, 103);
  color: black;
}

#ImagePopupHolderId {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.3);
}

#ImagePopupId {
  margin: auto;
  width: 75%;
  height: auto;
}

#ImagePopupCloseButtonId {
  border-radius: 0.3em;
  border-width: 3px;
  border-color: rgb(36, 82, 221);
  background-color: rgb(36, 82, 221);
  color: rgb(223, 212, 212);
}

#ImagePopupCloseButtonId:hover {
  border-color: rgb(36, 82, 221);
  background-color: rgb(124, 151, 231);
  color: black;
}




/*Class==============================================================================================================================*/

/*constraint and alignment*/
.flex {
  display: flex;
}

.flexHorizontal {
  flex-direction: row;
}

.flexVertical {
  flex-direction: column;
}

.flexAlignStart {
  justify-content: flex-start;
}

.flexAlignCenter {
  justify-content: center;
}

.flexAlignEnd {
  justify-content: flex-end;
}

.flexAlignSpaceAround {
  justify-content: space-around;
}

.flexAlignSpaceBetween {
  justify-content: space-between;
}




/*Text Setting*/
/*Text Alignement*/
.textAlignCenter {
  text-align: center;
}

.textAlignLeft {
  text-align: start;
}

.textAlignRight {
  text-align: center;
}

.textAlignJustify {
  text-align: justify;
}


/*Text Style*/
.textStyleNormal {
  font-style: normal;
}

.textStyleItalic {
  font-style: italic;
}

.textStyleBold {
  font-weight: bold;
}

.textStyleUnderline {
  text-decoration: underline;
}




/*Divider*/
/*color*/
.dividerColorTersier {
  color: maroon;
  background-color: maroon;
  border-color: maroon;
}

.dividerColorSecondary {
  color: tomato;
  background-color: tomato;
  border-color: tomato;
}

.dividerColorPrimary {
  color: beige;
  background-color: beige;
  border-color: beige;
}


/*Thickness*/
.dividerThicknessThin {
  height: 1px;
}

.dividerThicknessMedium {
  height: 2px;
}

.dividerThicknessLarge {
  height: 4px;
}


/*Length*/
.dividerLengthShort {
  width: 25%;
}

.dividerLengthMedium {
  width: 50%;
}

.dividerLengthLong {
  width: 75%;
}

.dividerLengthFull {
  width: 100%;
}




/*TextBox*/
.boxTersier {
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
  border-radius: 0.3em;
  padding: 5px;
  background-color: gainsboro;
}




/*Scrollable*/
.scrollableVertical {
  overflow-y: auto;
}

.scrollableHorizontal {
  overflow-x: auto;
}




/*holder*/
.holderImage {
  overflow: hidden;
  background-color: darkgray;
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
  display: block;
  text-align: center;
}




/*Padding*/
.paddingRemoval {
  padding: 0;
}

.padding5 {
  padding: 5px;
}

.padding10 {
  padding: 10px;
}

.padding20 {
  padding: 20px;
}

.padding50 {
  padding: 50px;
}




/*Margin*/
.marginRemoval {
  margin: 0;
}

.margin5 {
  margin: 5px;
}

.margin10 {
  margin: 10px;
}

.margin20 {
  margin: 20px;
}

.margin50 {
  margin: 50px;
}

.marginY5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.marginY10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginY20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.marginY50 {
  margin-top: 50px;
  margin-bottom: 50px;
}